<nav class="flex-div">
    <div class="nav-left flex-div">
        <img src="assets/images/menu.png" class="menu-icon" (click)="SideNavToggle()">
        <img src="assets/images/logo.png" class="logo">
    </div>
    <div class="nav-middle flex-div">
        <div class="search-box flex-div">
            <input type="text" placeholder="Search">
            <img src="assets/images/search.png">
        </div>
        <img src="assets/images/voice-search.png" class="mic-icon">

    </div>
    <div class="nav-right flex-div">
        <img src="assets/images/upload.png">
        <img src="assets/images/more.png">
        <img src="assets/images/notification.png">
        <img src="assets/images/Jack.png" class="user-icon">

    </div>
</nav>