<div class="container">
    <div class="row">
        <div class="play-video">
            <video controls autoplay>
                <source src="assets/images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="rignt-sidebar">
            <div class="side-video-list" *ngFor="let num of numlist">
                <a href="#" class="small-thumbnail"><img src="assets/images/thumbnail{{num}}.png"></a>
                <div class="vid-info">
                    <a href="#">Best Channel to learn Coding</a>
                    <p>Easy Tutorials</p>
                    <p>2 k likes &bull; 2 Days</p>
                </div>
            </div>
        </div>
    </div>
</div>